@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&display=swap');

body {
    background-image: url("../images/back-p.png");
}

/* Header starts here*/
.main-header {
    font-size: 80px;
    font-family: "Abel", sans-serif;
    color: #4ab025;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 10px;
}

/* Main page starts here*/
#container {
    font-size: 25px;
    font-family: "Abel", sans-serif;
    text-align: center;
    opacity: 0.6;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
}

#box {
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

/*Highscore and play again button*/

#high-score {
    background-color: #4ab025;
    font-family: "Acme", sans-serif;
}

#play-cmt {
    background-color: #4ab025;
    font-family: "Acme", sans-serif;

}

#text {
    text-align: center;
    font-family: "Acme", sans-serif;
    color: #4ab025;
}