@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&display=swap');

body {
    background-image: url("../images/hero-neon.jpeg");
    background-size: cover;
}

/* Header starts here*/
.main-header {
    font-size: 80px;
    font-family: "Acme", sans-serif;
    color: #b100e8;
    text-align: center;
    text-decoration: none;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
}

/* Main page starts here*/
#container {
    font-size: 25px;
    font-family: "Abel", sans-serif;
    text-align: center;
    opacity: 0.6;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
}

#box {
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

/*Highscore, play again and lets begin button*/

#high-score {
    background-color: #b100e8;
    font-family: "Abel", sans-serif;
    border-radius: 10px;
}

#play-cmt {
    background-color: #b100e8;
    font-family: "Acme", sans-serif;
    border-radius: 10px;

}

.begin {
    text-align: center;
    color: #fff;
    background-color: #000;
    font-family: "Acme", sans-serif;
    border-radius: 10px;
}

#text {
    text-align: center;
    font-family: "Acme", sans-serif;
    color: #000;
    padding-top: 50px;
}

/* Quiz container*/

#quiz-container {
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    opacity: 0.6;
}

/* Question buttons*/

#btn-box {
    text-align: center;
    font-family: "Acme", sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

.answer-btn {
    text-align: center;
    color: #fff;
    font-family: "Acme", sans-serif;
    font-size: 15px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

#score-area {
    text-align: center;
    font-family: "Acme", sans-serif;
    padding-right: 5px;
    padding-left: 0px;
    color: #000;
}

.scores {
    display: inline;
    text-align: center;
}

#question {
    text-align: center;
    font-family: "Acme", sans-serif;
    color: #000;
    font-size: 40px;
}

#correct-score-counter {
    color: green;
    font-weight: bold;
}

#incorrect-score-counter {
    color: red;
    font-weight: bold;
}

#play-again-btn {
    text-align: center;
    color: #fff;
    background-color: #000;
    font-family: "Acme", sans-serif;
    border-radius: 10px;
}

#next-btn {
    text-align: center;
    color: #fff;
    background-color: #000;
    font-family: "Acme", sans-serif;
    border-radius: 15px;
}

#score-comment {
    text-align: center;
    font-family: "Acme", sans-serif;
}

@media only screen and (max-width: 800px) { 
    .answer-btn {
        height: 30px;
        width: 70px;
    }
}